In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter

In [3]:
df = pd.read_csv('Watch_data.csv')

In [4]:
df.head()

,Date,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Flights Climbed (floors),Heart Rate (bpm),Heart Rate Variability (ms),Resting Calories (kcal),Resting Heart Rate (bpm),Stand Hours (hr),Stand Minutes (min),Steps (steps),Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION
0,18/09/2022,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN
1,19/09/2022,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN
2,20/09/2022,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN
3,21/09/2022,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN
4,22/09/2022,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         722 non-null    object
 1   Active Calories (kcal)       670 non-null    object
 2   Cycling Distance (km)        670 non-null    object
 3   Exercise Minutes             670 non-null    object
 4   Flights Climbed (floors)     670 non-null    object
 5   Heart Rate (bpm)             670 non-null    object
 6   Heart Rate Variability (ms)  670 non-null    object
 7   Resting Calories (kcal)      670 non-null    object
 8   Resting Heart Rate (bpm)     670 non-null    object
 9   Stand Hours (hr)             670 non-null    object
 10  Stand Minutes (min)          670 non-null    object
 11  Steps (steps)                670 non-null    object
 12  Swimming Distance (m)        670 non-null    object
 13  Walking + Running (km)       670 non-null    object
 14  Walking Heart Rate (bpm)     670 non-null    object
 15  Walking Speed (km/hr)        670 non-null    object
 16  Workout Type                 145 non-null    object
 17   DURATION                    145 non-null    object
dtypes: object(18)
memory usage: 101.7+ KB

In [6]:
df.describe()

,Date,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Flights Climbed (floors),Heart Rate (bpm),Heart Rate Variability (ms),Resting Calories (kcal),Resting Heart Rate (bpm),Stand Hours (hr),Stand Minutes (min),Steps (steps),Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION
count,722,670,670,670,670,670,670,670,670,670,670,670,670,670,670,670,145,145
unique,670,304,65,144,35,256,332,221,28,18,188,357,1,324,91,319,5,59
top,27/06/2024,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Cycling,30m
freq,5,331,606,348,344,339,339,327,342,377,339,311,670,311,461,328,98,8

First get rid of dates before data begins- I have a rough idea that this was near September 2022, but I don't know exactly when.

In [7]:
[df[['Date','Active Calories (kcal)']].loc[60:80]]

[          Date Active Calories (kcal)
 60  17/11/2022                      -
 61  18/11/2022                      -
 62  19/11/2022                      -
 63  20/11/2022                      -
 64  21/11/2022                      -
 65  22/11/2022                      -
 66  23/11/2022                      -
 67  24/11/2022                      -
 68  25/11/2022                    458
 69  26/11/2022                    783
 70  27/11/2022                    973
 71  28/11/2022                    435
 72  29/11/2022                  1,618
 73  30/11/2022                  1,094
 74  01/12/2022                    818
 75  02/12/2022                    995
 76  03/12/2022                    468
 77  04/12/2022                  1,070
 78  05/12/2022                    570
 79  06/12/2022                  1,360
 80  07/12/2022                     86]

The first date for recording data comes in row 68: 25th November 2022

In [17]:
df.drop(df.index[0:68], inplace=True)

In [18]:
df.head()

,Date,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),Resting Calories (kcal),Resting Heart Rate (bpm),Stand Hours,...,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION,Day of Week,Month,Year
68,2022-11-25,458,-,9m,8,47-97,22.31-103.95,"2,092",58,-,...,"6,346",-,4.86,78.5,2.45-5.15,NaN,NaN,4,11,2022
69,2022-11-26,783,-,1h 2m,3,51-123,25.27-115.81,"2,137",55,-,...,"12,239",-,9.76,-,2.81-5.72,NaN,NaN,5,11,2022
70,2022-11-27,973,-,1h 43m,13,49-147,35.47-73.84,"2,104",52,-,...,"16,050",-,11.58,113,2.16-6.26,NaN,NaN,6,11,2022
71,2022-11-28,435,-,15m,2,53-111,64.4-114.07,"2,070",55,-,...,"6,111",-,4.64,80,3.06-6.12,NaN,NaN,0,11,2022
72,2022-11-29,"1,618",-,2h 42m,28,49-170,39.4-65.42,"2,229",57,-,...,"24,465",-,21.43,133.5,2.48-6.84,NaN,NaN,1,11,2022

I'll rename some of the columns to be easier to work with

In [19]:
df.rename(columns = {"Steps (steps)": "Steps", "Flights Climbed (floors)": "Floors Climbed", "Stand Hours (hr)": "Stand Hours", "Stand Minutes (min)": "Stand minutes"}, inplace = True)

In [20]:
df.head()

,Date,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),Resting Calories (kcal),Resting Heart Rate (bpm),Stand Hours,...,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION,Day of Week,Month,Year
68,2022-11-25,458,-,9m,8,47-97,22.31-103.95,"2,092",58,-,...,"6,346",-,4.86,78.5,2.45-5.15,NaN,NaN,4,11,2022
69,2022-11-26,783,-,1h 2m,3,51-123,25.27-115.81,"2,137",55,-,...,"12,239",-,9.76,-,2.81-5.72,NaN,NaN,5,11,2022
70,2022-11-27,973,-,1h 43m,13,49-147,35.47-73.84,"2,104",52,-,...,"16,050",-,11.58,113,2.16-6.26,NaN,NaN,6,11,2022
71,2022-11-28,435,-,15m,2,53-111,64.4-114.07,"2,070",55,-,...,"6,111",-,4.64,80,3.06-6.12,NaN,NaN,0,11,2022
72,2022-11-29,"1,618",-,2h 42m,28,49-170,39.4-65.42,"2,229",57,-,...,"24,465",-,21.43,133.5,2.48-6.84,NaN,NaN,1,11,2022

I'll convert the 'Date' column from a string to a DateTime

In [21]:
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)

In [22]:
df['Date'].head()

68   2022-11-25
69   2022-11-26
70   2022-11-27
71   2022-11-28
72   2022-11-29
Name: Date, dtype: datetime64[ns]

In [23]:
df['Day of Week'] = df['Date'].apply(lambda time: time.dayofweek)
df['Month'] = df['Date'].apply(lambda time: time.month)
df['Year'] = df['Date'].apply(lambda time: time.year)

In [24]:
df.head()

,Date,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),Resting Calories (kcal),Resting Heart Rate (bpm),Stand Hours,...,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION,Day of Week,Month,Year
68,2022-11-25,458,-,9m,8,47-97,22.31-103.95,"2,092",58,-,...,"6,346",-,4.86,78.5,2.45-5.15,NaN,NaN,4,11,2022
69,2022-11-26,783,-,1h 2m,3,51-123,25.27-115.81,"2,137",55,-,...,"12,239",-,9.76,-,2.81-5.72,NaN,NaN,5,11,2022
70,2022-11-27,973,-,1h 43m,13,49-147,35.47-73.84,"2,104",52,-,...,"16,050",-,11.58,113,2.16-6.26,NaN,NaN,6,11,2022
71,2022-11-28,435,-,15m,2,53-111,64.4-114.07,"2,070",55,-,...,"6,111",-,4.64,80,3.06-6.12,NaN,NaN,0,11,2022
72,2022-11-29,"1,618",-,2h 42m,28,49-170,39.4-65.42,"2,229",57,-,...,"24,465",-,21.43,133.5,2.48-6.84,NaN,NaN,1,11,2022

And move the columns to have the dates/times all together

In [25]:
col = df.pop('Day of Week')
df.insert(1,'Day of Week',col)

In [26]:
col = df.pop('Month')
df.insert(2,'Month',col)

In [27]:
col = df.pop('Year')
df.insert(3,'Year',col)

In [28]:
df.head()

,Date,Day of Week,Month,Year,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),...,Resting Heart Rate (bpm),Stand Hours,Stand minutes,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION
68,2022-11-25,4,11,2022,458,-,9m,8,47-97,22.31-103.95,...,58,-,136,"6,346",-,4.86,78.5,2.45-5.15,NaN,NaN
69,2022-11-26,5,11,2022,783,-,1h 2m,3,51-123,25.27-115.81,...,55,-,194,"12,239",-,9.76,-,2.81-5.72,NaN,NaN
70,2022-11-27,6,11,2022,973,-,1h 43m,13,49-147,35.47-73.84,...,52,-,238,"16,050",-,11.58,113,2.16-6.26,NaN,NaN
71,2022-11-28,0,11,2022,435,-,15m,2,53-111,64.4-114.07,...,55,-,117,"6,111",-,4.64,80,3.06-6.12,NaN,NaN
72,2022-11-29,1,11,2022,"1,618",-,2h 42m,28,49-170,39.4-65.42,...,57,-,314,"24,465",-,21.43,133.5,2.48-6.84,NaN,NaN

In [29]:
dmap = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
df['Day of Week'] = df['Day of Week'].map(dmap)

In [30]:
df.head()

,Date,Day of Week,Month,Year,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),...,Resting Heart Rate (bpm),Stand Hours,Stand minutes,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION
68,2022-11-25,Fri,11,2022,458,-,9m,8,47-97,22.31-103.95,...,58,-,136,"6,346",-,4.86,78.5,2.45-5.15,NaN,NaN
69,2022-11-26,Sat,11,2022,783,-,1h 2m,3,51-123,25.27-115.81,...,55,-,194,"12,239",-,9.76,-,2.81-5.72,NaN,NaN
70,2022-11-27,Sun,11,2022,973,-,1h 43m,13,49-147,35.47-73.84,...,52,-,238,"16,050",-,11.58,113,2.16-6.26,NaN,NaN
71,2022-11-28,Mon,11,2022,435,-,15m,2,53-111,64.4-114.07,...,55,-,117,"6,111",-,4.64,80,3.06-6.12,NaN,NaN
72,2022-11-29,Tue,11,2022,"1,618",-,2h 42m,28,49-170,39.4-65.42,...,57,-,314,"24,465",-,21.43,133.5,2.48-6.84,NaN,NaN

Now with the dates in an easier format to use, I'll prepare the Steps column for some initial analysis, first by dealing with any null values

In [32]:
df['Steps'].head()

68     6,346
69    12,239
70    16,050
71     6,111
72    24,465
Name: Steps, dtype: object

In [33]:
missing_steps = df[(df['Steps']=='-')]

In [34]:
missing_steps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 106 to 367
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         243 non-null    datetime64[ns]
 1   Day of Week                  243 non-null    object
 2   Month                        243 non-null    int64
 3   Year                         243 non-null    int64
 4   Active Calories (kcal)       243 non-null    object
 5   Cycling Distance (km)        243 non-null    object
 6   Exercise Minutes             243 non-null    object
 7   Floors Climbed               243 non-null    object
 8   Heart Rate (bpm)             243 non-null    object
 9   Heart Rate Variability (ms)  243 non-null    object
 10  Resting Calories (kcal)      243 non-null    object
 11  Resting Heart Rate (bpm)     243 non-null    object
 12  Stand Hours                  243 non-null    object
 13  Stand minutes                243 non-null    object
 14  Steps                        243 non-null    object
 15  Swimming Distance (m)        243 non-null    object
 16  Walking + Running (km)       243 non-null    object
 17  Walking Heart Rate (bpm)     243 non-null    object
 18  Walking Speed (km/hr)        243 non-null    object
 19  Workout Type                 0 non-null      object
 20   DURATION                    0 non-null      object
dtypes: datetime64[ns](1), int64(2), object(18)
memory usage: 41.8+ KB

At this point I have noticed I'm missing values for about a third of my dates. I drop all rows between November 2022 and 3rd October 2023 as most of the missing values fell between this period.

In [35]:
df2 = df.drop(df.index[0:312])

In [36]:
df2.head(10)

,Date,Day of Week,Month,Year,Active Calories (kcal),Cycling Distance (km),Exercise Minutes,Floors Climbed,Heart Rate (bpm),Heart Rate Variability (ms),...,Resting Heart Rate (bpm),Stand Hours,Stand minutes,Steps,Swimming Distance (m),Walking + Running (km),Walking Heart Rate (bpm),Walking Speed (km/hr),Workout Type,DURATION
380,2023-10-03,Tue,10,2023,"1,226",-,2h 13m,25,53-170,52.85-68.35,...,60,12,214,"18,138",-,15.93,-,3.31-7.42,NaN,NaN
381,2023-10-04,Wed,10,2023,"1,254",-,2h,19,43-165,32.22-102.12,...,53,16,216,"16,834",-,14.39,122,2.56-6.34,NaN,NaN
382,2023-10-05,Thu,10,2023,"1,127",-,1h 37m,15,45-130,33.04-87.77,...,58,16,228,"15,883",-,13.15,-,2.95-5.94,NaN,NaN
383,2023-10-06,Fri,10,2023,"1,150",-,1h 48m,22,45-145,39.78-88.65,...,56,16,222,"17,255",-,14.53,-,3.02-6.52,NaN,NaN
384,2023-10-07,Sat,10,2023,538,-,30m,5,46-122,48.48-130.92,...,48,13,110,"6,746",-,5.4,-,3.2-6.05,NaN,NaN
385,2023-10-08,Sun,10,2023,911,-,1h 12m,13,45-169,40.63-74.62,...,59,13,203,"12,474",-,10.12,70,2.02-6.44,NaN,NaN
386,2023-10-09,Mon,10,2023,788,-,35m,18,47-180,49.95-120.7,...,51,14,168,"8,497",-,8.15,83,2.45-4.21,Running,20m
387,2023-10-10,Tue,10,2023,"1,592",-,2h 44m,29,46-158,32.67-93.29,...,52,13,318,"24,688",-,21.75,78,2.52-5.72,Running,23m
388,2023-10-11,Wed,10,2023,"1,058",-,52m,12,48-182,30.99-80.13,...,53,15,211,"11,031",-,10.33,107.5,2.63-5.26,Elliptical,10m
389,2023-10-11,Wed,10,2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Running,25m